<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Web Pribadi Reza Intan Aulya</title>

	<link rel="shortcut" type="image/x-icon" href="favicon.ico">
	<link rel="icon" type="image/icon" href="favicon.ico">
</head>
<body>
	<nav>
		<a href="/index">Home</a>
		<a href="CV-Reza.pdf">Download CV</a>
		<a href="/contact">Contact</a>
		<a href="/about">About Me</a>
	</nav>
	<article>
		<h1>About Me</h1>
		<p>Hi, Saya Reza Intan Aulya saat ini saya berdomisili di Lampung.</p>
		<p>Saya Seorang Web Developer, meski begitu saya tidak akan pernah berhenti belajar.</p>
		<p>Simak video lengkap tentang saya: </p>
		<p>
			<video controls="">
				<source src="/assets/video-about.mp4" type="video/mp4">
			</video>
		</p>
	</article>
	<hr>
	<footer style="text-align: center;">
		<p>Copyright &copy; 2022 Reza Intan Aulya</p>
	</footer>
</body>
</html>